<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/error.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <script src="/static/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-5 mx-auto">

                    <!-- Image of the Logo -->
                    <div class="p-5 bg-white shadow rounded-lg"><img src="/static/assets/img/atlas-hackathon.svg" alt="" width="200" class="d-block mx-auto mb-4">

                    <div id="notfound">
                        <div class="notfound">
                            <div class="notfound-404">
                                <h1>404</h1>
                                <h2>Page not found</h2>
                            </div>
                            <div class="d-inline-block mt-3">
                                <a href="index.html" class="button submit btn btn-outline-primary btn-block rounded-pill px-5">Homepage</a>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>